%nav
  .nav-wrapper
    %a.brand-logo{:href => "#"}
      %img{:src => @imaging_service.image.resize(40, 40).to_data_url}
      %span The Irregular Tank
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a{:href => "https://github.com/midhunkrishna/irregular_tank"} Source Code
.container
  .row
    .col.s12.m8.l8.offset-m2.offset-l2
      .card.blue-grey.darken-1
        .card-content.white-text
          %span.card-title Irregular Tank Heights
          .card-title
            = @irregular_tank.initial_heights.join(" ")
        .card-action
          %a.activator View JSON
        .card-reveal
          %span.card-title.grey-text.text-darken-4
            JSON obtained from endpoint
            %i.material-icons.right close
            %p
              = @tank_service.request_body
  .row
    .col.s12.m8.offset-m2.offset-l2.l8
      %h2.header
      .card
        .card-image
          %img{:src => @imaging_service.image.resize(400, 400).to_data_url}
            %span.card-title.text-shadow Irregular Tank Cross Section
        .card-content
          %h5
            = "Total Volume Contained: #{@irregular_tank.volume} cubic units."
.floater            
  %a.btn-floating.btn-large.waves-effect.waves-light.red{:onclick => "javascript:window.location.reload()"}
    %i.material-icons loop
